.about{
	padding-bottom: 10px;
	background: #fff;
	height: 600px;
	text-align: center;
}
.texts > h2{
	font-size: 38px;
	/*animation: type 3s steps(42);
	overflow: hidden;
	white-space: nowrap;*/
}
.texts > h4{
	position: relative;
	bottom: 20px;
	color: white;
	font-size: 18px;
}
.texts{
	position: relative;
	bottom: 160px;
}
.about a{
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
	font-weight: 700;
	background: #1d809f;
	color: #fff;
	padding: 1.25rem 2.5rem;
	text-decoration: none;
	border-radius: 20px;
	display: inline-block;	
}